#stq {
    font-size: 1.5rem;
    position: absolute;
    left: 20vh;
    top: 20vh;
}

#ndq {
    display: none;
    font-size: 1.5rem;
    position: absolute;
    left: 20vh;
    top: 20vh;
}

#rdq {
    display: none;
    font-size: 1.5rem;
    position: absolute;
    left: 20vh;
    top: 20vh;
    background-color: #0984e3;
    padding: .5rem;
}

#stqfal {
    color: azure;
    background-image: linear-gradient(120deg, transparent 50%, white 50%);
    background-size: 250%;
    transition: all 0.4s;
    border-radius: 2px;
}

#stq:hover #stqfal {
    background-position: 100%;
    color: royalblue;
    transform: translateX(16px);
}

#stq form div {
    position: absolute;
    left: 0;
    top: 10vh;
}

#stqfa {
    position: absolute;
    top: 5vh;
}

.inputnum {
    padding: .5rem;
    width: 15rem;
    background-color: #0984e3;
    color: black;
    /* color: aqua; */
    border-radius: 4px;
    box-shadow: none;
    border: none;
}

.inputnum::placeholder {
    color: rgb(54, 50, 50);
}

.inputnum:focus {
    border: none;
    outline: 0;
    background-color: #0d68ad;
}

#but {
    position: absolute;
    top: 25vh;
    left: 0;
}